@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div class="flex justify-end mt-4">
    <div class="btn-group">
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg"
             page-class-normal="hover:bg-gray-300"
             page-class-selected="bg-blue-500 text-white hover:bg-blue-600"
             page-url-category="@Model.CurrentCategory">
        </div>
    </div>
</div>
